body {
    font-family: "微軟正黑體", "Microsoft JhengHei", "PingFang TC", "Heiti TC", "Arial", sans-serif; /* 字型 */
}

/* 標題粗體 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* 設置整體背景圖片 */
body {
    margin: 0;
    padding: 0;
    background-image: url('pic/精裝書封面.png'); 
    background-size: cover; /* 讓圖片覆蓋整個頁面 */
    background-position: center; /* 圖片居中 */
    background-repeat: no-repeat;/*不重複*/
    background-attachment: fixed; /* 背景固定 */
}

/*黑色遮罩，因為直接調背景圖片透明度會影響到文字跟內容圖*/
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 黑色遮罩，透明度0.6 */
    z-index: -1; 
}

/* Navbar */
.navbar-custom {
    background-color: #4A3C5F;
}

/* Footer */
.footer-custom {
    background-color: #4A3C5F;
    color: white;
}

/* 圖片樣式 */
.image-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* 主要內容樣式 */
.main-content {
    background-color: #E0E0E0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);/*陰影*/
}

/* 圖說的樣式 */
.caption {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

/* 當鼠標懸停在圖片上時，圖說顯示 */
.image-card:hover .caption {
    opacity: 1;
}

/* 圖片卡片的樣式 */
.image-card img {
    border-radius: 5px;
    transition: transform 0.3s ease;
}
/* 當鼠標懸停時略微放大圖片 */
.image-card:hover img {
    transform: scale(1.05); 
}
/*輪轉圖片大小*/
.carousel-image {
    width: 300px;
    height: auto;
}

/*輪轉圖說*/
.caption {
    font-size: 1.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);/*調整透明度*/
    padding: 10px;
    border-radius: 5px; /* 圓角 */
}
/*上一個下一個按鈕顏色*/
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

/*
@media (max-width: 768px) {
    .carousel-image {
        width: 100%; /* 螢幕較小時，圖片寬度會調整為 100% 
    }
}
*/

/* 回首頁按鈕 */
.btn-more-works {
    background-color: #F34DA4; /* 按鈕顏色 */
    border: none; /* 邊框 */
    color: white; /* 字體顏色 */
    font-weight: bold; /* 字體加粗 */
    padding: 10px 20px; /* 內距調整 */
    border-radius: 8px; /* 圓角 */
    transition: background-color 0.3s ease; /* 增加動畫效果 */
}

.btn-more-works:hover {
    background-color: #d63c90; /* 滑鼠指到時的按鈕顏色 */
}
